
@import 'setup';


html {
	font-size: 62.5%;
}

@mixin fontSize($number) {
	font-size: ($number) * 1px;
	font-size: ($number / 10) * 1rem;
}

body {
	@include fontSize(12);
}

.container {
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}

div.movie {
	width: 33.33%;
	float: left;
}

.movie-poster {
	width: 50%;
}

.description {
	width: 80%;
}