
@import 'setup';


html {
	font-size: 62.5%;
}

@mixin fontSize($number) {
	font-size: ($number) * 1px;
	font-size: ($number / 10) * 1rem;
}

body {
	@include fontSize(12);
	font-family: 'Francois One', sans-serif;
	background: #9DC5BB;
}

.container {
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

form {
	text-align: center;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

h1 {
	text-align: center;
	padding-bottom: 3%;
	@include fontSize(46);
	letter-spacing: 4px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;

		span {
			padding: 0 1% 0 2%;
			@include fontSize(28);
			color: #E8EDDF;
		}

		select {
			-webkit-appearance: none; 
			padding-right: 2%;
		}
}

select.genre {
		width: 13%;
		padding: 5px 0 5px 28px;
}

select.year {
		width: 10%;
		padding: 5px 0 5px 35px;

}

.criteria {
	width: 50%;
	margin: 0 auto;
	padding: 3% 0 10% 0;

	h3 {
	@include fontSize(22);

}
	p {
		@include fontSize(20);
		text-align: center;
		margin: 0 auto;
	}

	span.highlight {
		color: #E8EDDF;
		text-transform: uppercase;
	}
}



.results-btn {

		input[type=submit] {
			padding: 10px 150px;
			@include fontSize(26);
			background: #F5CB5C;
			border: 2px solid #E8EDDF;
			border-radius: 3px 3px 3px 3px;
			text-transform: uppercase;
		}
}

div.container {
	margin: 0 auto;
	padding-top: 8%;
}

div.results {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

div.movie {
	width: 31%;
	min-height: 600px;
	text-align: center;
	background: #E8EDDF;
	margin: 1%;
	padding: 15px;
	a.titleLink {
		color: black;
	}
}

.movie h3 {
	@include fontSize(16);
}

.movie-poster {
	width: 50%;
	padding-top: 10%;
}

.description {
	width: 80%;
	margin: 0 auto;
	@include fontSize(14);
}

.pass {
	font-size: 24px;
    color: rgb(23, 142, 112);
    border: 2px solid rgb(23, 142, 112);
    width: 50%;
    text-transform: uppercase;
    margin: 5% auto;
    padding: 3px;
    transform: rotate(-10deg);
}

.fail {
	font-size: 24px;
    color: #B90D0D;
    border: 2px solid #B90D0D;
    width: 50%;
    text-transform: uppercase;
    margin: 10% auto;
    padding: 3px;
    transform: rotate(-10deg);
}

footer img {
	width: 7%;
}

footer {
	display: none;
	text-align: center;

	 a {
	 	color: #E8EDDF;
	 	text-decoration: none;
	 }
}


@media (max-width: 321px) {
	
	h1 {
		@include fontSize(96);
	}

	h2 span {
		@include fontSize(68);
	}

	select.year {
		padding: 10px 0 10px 70px;
	}

	select.genre {
		padding: 10px 0 10px 56px;
	}

	.criteria {
		width: 100%;

	}

	.results-btn input[type=submit] {
		padding: 3% 27%;
		@include fontSize(54);
		letter-spacing: 2px;
	}

	div.movie {
		width: 48%;
	}



}