article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Francois One', sans-serif;
  background: #9DC5BB; }

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

form {
  text-align: center; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

h1 {
  text-align: center;
  padding-bottom: 3%;
  font-size: 46px;
  font-size: 4.6rem;
  letter-spacing: 4px; }

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300; }
  h2 span {
    padding: 0 1% 0 2%;
    font-size: 28px;
    font-size: 2.8rem;
    color: #E8EDDF; }
  h2 select {
    -webkit-appearance: none;
    padding-right: 2%; }

select.genre {
  width: 13%;
  padding: 5px 0 5px 28px; }

select.year {
  width: 10%;
  padding: 5px 0 5px 35px; }

.criteria {
  width: 50%;
  margin: 0 auto;
  padding: 3% 0 10% 0; }
  .criteria h3 {
    font-size: 22px;
    font-size: 2.2rem; }
  .criteria p {
    font-size: 20px;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto; }
  .criteria span.highlight {
    color: #E8EDDF;
    text-transform: uppercase; }

.results-btn input[type=submit] {
  padding: 10px 150px;
  font-size: 26px;
  font-size: 2.6rem;
  background: #F5CB5C;
  border: 2px solid #E8EDDF;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase; }

div.container {
  margin: 0 auto;
  padding-top: 8%; }

div.results {
  margin-top: 50px; }

div.movie {
  width: 31%;
  height: 600px;
  float: left;
  text-align: center;
  background: #E8EDDF;
  margin: 1%;
  padding: 15px; }
  div.movie a.titleLink {
    color: black; }

.movie h3 {
  font-size: 16px;
  font-size: 1.6rem; }

.movie-poster {
  width: 50%;
  padding-top: 10%; }

.description {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  font-size: 1.4rem; }

.pass {
  font-size: 24px;
  color: #178e70;
  border: 2px solid #178e70;
  width: 50%;
  text-transform: uppercase;
  margin: 5% auto;
  padding: 3px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.fail {
  font-size: 24px;
  color: #B90D0D;
  border: 2px solid #B90D0D;
  width: 50%;
  text-transform: uppercase;
  margin: 10% auto;
  padding: 3px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg); }

footer img {
  width: 7%; }

footer {
  display: none;
  text-align: center; }
  footer a {
    color: #E8EDDF;
    text-decoration: none; }

@media (max-width: 321px) {
  h1 {
    font-size: 96px;
    font-size: 9.6rem; }
  h2 span {
    font-size: 68px;
    font-size: 6.8rem; }
  select.year {
    padding: 10px 0 10px 70px; }
  select.genre {
    padding: 10px 0 10px 56px; }
  .criteria {
    width: 100%; }
  .results-btn input[type=submit] {
    padding: 3% 27%;
    font-size: 54px;
    font-size: 5.4rem;
    letter-spacing: 2px; }
  div.movie {
    width: 48%; } }
